<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrding.one.mapper.IndexMapper">

    <select id="count" resultType="int" parameterType="map">
        SELECT COUNT(1) FROM t_users WHERE username = #{username} AND PASSWD = #{passwd}
    </select>

    <insert id="adduser" parameterType="map">
        insert into t_users(username, passwd) values(#{username}, #{passwd})
    </insert>

</mapper>